<head>

    <script src="/login.js" defer></script>
    <script src="../routes/productRoute.js" defer></script>
    
</head>
<body class="container">

    
    <main>
        <div class="jumbotron">
               <div id="compression"></div>
    <h1>Sesion Cerrada. Hasta luego {{name}} !</h1></main>
</div>
<h6>Logearse Nuevamente</h6>
    
   <form action="login" id="formulario" method="post">   
        <input type="text" id="user" placeholder="Nombre" name="nombre"><br>
        <input type="submit" value="enviar"><input type="reset" value="Borrar"></p>
    </form>
    <footer>
        {{>footer}}
    </footer>

</body>